<style>
  .balloon {
    display: inline-block;
    position: relative;
    background: #ABD7C8;
    height: 70px;
    width: 120px;
    margin: 0 auto 10px;
    border-radius: 50%;
  }

  .balloon:before {
    content: '';
    position: absolute;
    background: #ABD7C8;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    bottom: -20px;
    left: 70px;
  }

  .balloon:after {
    content: '';
    position: absolute;
    background: #ABD7C8;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    bottom: -30px;
    left: 90px;
  }
</style>



<!--동영상 강의와 자세한 설명 버튼-->
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item" id="lecture" style="background-color:#83c9b0; border-radius:5px;">
      <a class="nav-link " href="/quiz/<%= @subject.id %>" style="border-radius:5px; color:white">동영상 강의</a>
    </li>
    <li class="nav-item" style="background-color:#83c9b0; border-radius:5px; left:3px;">
      <a class="nav-link " href="/quiz/<%= @subject.id %>/text" style="border-radius:5px; color:white">자세한 설명</a>
    </li>
  </ul>
</nav>

<header>
  <div class="subject_title" style="margin-bottom:30px">
    <div>
      <h2> <%= @subject.name %></h2>
    </div>
  </div>
</header>





<!--동영상 나오는 부분-->
<section class="container">
  <div class="row mt-4" style="float:left">
    <div class="col-12">
      <p align="middle">
        <iframe width="700" height="500" src="<%= @subject.lecture %>" frameborder="0" allowfullscreen></iframe>
      </p>
    </div>
  </div>


  <!--퀴즈 풀기 버튼-->
  <footer class="foot">
    <div class="quiz">
      <button id="btn-complete-quiz" class="btn btn-primary btn-complete ml-4 hidden-sm-down" data-target="#quiz_1" data-toggle="modal"
              style="color: #83c9b0; background-color:white; margin-bottom: 20px; border-radius: 30px; padding: 0.6rem 1.8rem; width: 30%; height:50px; font-size:20px; font-weight: bold; border: 2px solid #83c9b0;">퀴즈
        풀기
      </button>
      </center>
      <%# if (@score[0].quiz_score == 100) %>


      <button class="btn btn-default" style = "color: #83c9b0; background-color:white; margin-bottom: 20px; border-radius: 30px; padding: 0.6rem 1.8rem; width: 30%; height:50px; font-size:20px; font-weight: bold; border: 2px solid #83c9b0;" data-toggle="modal" data-target="#practice_1">연습하기</button>


      <!--전화/메시지 연습하기-->
      
        <!--스마트폰 화면으로 연습하기 modal창 부분-->
       
       <div class="modal fade bd-example-modal-lg" id="practice_1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
            
                   
                   <%= render partial: "quiz/practice_template/modal_#{@subject.subject_num}" %>
                   
                   
              </div>
          </div>
      </div> 


      <!-- <%= link_to "New", newnew_path, remote: true, class: "btn btn-success pull-right new" %>
       --></div>
  </footer>

  <div class="balloon" style="width: 350px; height: 300px; left: 50px;">

    <div class="subject_title" style= "margin-left: -40px;">
      <!-- user의 답안 -->
      <div class="row">
        <div class="col-md-6">
          <div class="quiz_score">
            <p><%= @user.username %> 님의 답안</p>
            <p><%= @ans %></p>

            <!-- user 성취율-->
            <p>지금까지 퀴즈 최고 정답률</p>
            <p><%= @score[0].quiz_score %> %</p>

            <p>맞춘 갯수</p>
            <p><%= @quiznum %>개중 <%= @sum.to_i %>개 정답</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="practice_score">
            <p><%= @user.username %> 님의 연습하기</p>
            <p>성취율 <%= @score[0].practice_score %>%</p>
          </div>
        </div>
      </div>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    </div>
    <img class="img-circle" alt="Avatar" src="https://image.flaticon.com/icons/svg/375/375278.svg" style="height: 150px; margin-left: 75px;">
  </div>

  <!--퀴즈 mdoal popup창 부분 -->

  <% i= @zero %>

  <% while i< @quiznum %>

      <div class="modal fade" id="quiz_<%= 1+i %>">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <h3> <%= @quiz[i].title %> Quiz</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" id="quiz_body">

              <h4>
                <%= @quiz[i].content %><br>
              </h4>
              <h5>
                (O 또는 X를 선택해주세요)
              </h5>


              <!-- (ajax) input 안에 있는 값 O X  전달 하는 부분-->
              <!-- score 액션으로 전달해서 o 나 x 받아와서 .js파일로 보내, 그에따른 정답여부 화면 처리 -->
              <form action="/quiz/<%= @subject.id %>/score" data-remote="true" id="answer" method="get" >
                <input type="submit" name="answer" value="O" id="answer" onmouseout="change2(this)" onclick="change1(this)" style="background-color:white;">
                <input type="submit" name="answer" value="X" id="answer" onmouseout="change2(this)" onclick="change1(this)" style="background-color:white;"><br>
                 
              </form>

              <!-- 데이터 전달-->
              <%= content_tag "div", id: "foodab#{i}", data: {foodab: @quiz[i].answer} do %>
              <% end %>
              <%= content_tag "div", id: "quiznm", data: {quiznm: @quiznum} do %>
              <% end %>

            </div>

            <!--다음 퀴즈를 풀 수 있게 하는 버튼-->
            <div class="modal-footer">
              <% if i >= 0 %>
                  <% i += 1 %>
                  <% if i ==(@quiz.size - 1) %>
                      <% i - 1 %>
                  <% end %>
              <% end %>

              <% if i ==1 %>
                  <button class="button" data-target="#quiz_<%= i %>" data-toggle="modal">닫기</button>
                  <button class="button" data-target="#quiz_<%= i + 1 %>" data-toggle="modal">다음 문제 풀기</button>
              <% elsif i== @quiznum %>
                  <!-- <button class="button" data-target="#quiz_<%= i %>" data-toggle="modal">이전 문제로 돌아가기</button>
                -->    <%= button_to "완료", solve_path, :method => "get" %>
              <% else %>
                  <!--  <button class="button" data-target="#quiz_<%= i %>" data-toggle="modal">이전 문제로 돌아가기</button>
                -->
                  <button class="button" data-target="#quiz_<%= i + 1 %>" data-toggle="modal">다음 문제 풀기</button>
              <% end %>
            </div>

          </div>
        </div>
      </div>
  <% end %>
</section>

